@import "base/variables";
@import "base/mixins";
@import "blocks/swiper";
@import "blocks/main";
@import "blocks/social";

html,
body {
    box-sizing: border-box;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Ramabhadra', sans-serif;
    // background: url('../img/bg/forest.jpg') center center / cover no-repeat;
}

*,
*::before,
::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.page {
    position: relative;
    padding-top: 5px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

.logo{
    text-transform: uppercase;
    font-size: 140px;
    color: $accent;
    line-height: 90px;
    writing-mode: vertical-rl;
    margin-left: 15px;
    text-shadow: 3px 5px 9px rgb(0, 0, 0);
    position: fixed;
    z-index: -1;
}














@import "base/media";