@import "base/variables";
@import "base/mixins";
@import "blocks/swiper";
@import "blocks/cover";
@import "blocks/portfolio";
@import "blocks/social";

html,
body {
    box-sizing: border-box;
    height: 100%;
    // overflow:  hidden;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Ramabhadra', sans-serif;
    // background: url('../img/bg/forest.jpg') center center / cover no-repeat;
}

*,
*::before,
::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

button {
    cursor: pointer;
    border: none;
}

.page {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.page__content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;

}

.screen {
    font: 1px 0 100%;
    position: relative;
}










@import "base/media";