@import "base/mixins";
@import "base/variables";
@import "blocks/header";
@import "blocks/portfolio";
@import "blocks/footer";



body{
    font-family: 'Open Sans', sans-serif;
}

html{
    // background-color: $background-color;
    background: url('../images/bg/main-bg.jpg');
    box-sizing: border-box;
}

*, *::before, ::after{
    box-sizing: inherit;
}

a{
    text-decoration: none;
    color: inherit;
}

ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}
.container{
    max-width: 1700px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.911);


}
@import "base/media";
