.about {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(204, 32, 32, 0.863);

    &__wrapper {
        display: flex;
        width: 70%;
    }
    &__text{
        display: block;
        // margin: 150px 0 0 50px;
        width: 60%;
        font-size: 24px;
        color: $main-color;

    }
    &__img{
        display: flex;
        flex-direction: column;
    }
}

.img{
    max-width: 500px;
    // max-height: 200px;
}

