.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 30px;
    border-radius: 3px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    position: absolute;
    box-shadow: 0 0 10px rgba(89, 35, 236, 0.973);
    bottom: 54%;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s;

    &:hover{
        box-shadow: 0 0 5px rgb(89, 35, 236);
        transition: all 0.3s;
    }

}