
.logo{
    text-transform: uppercase;
    font-size: 140px;
    color: $accent;
    line-height: 90px;
    writing-mode: vertical-rl;
    margin-left: 15px;
    text-shadow: 3px 5px 9px rgb(0, 0, 0);
}
.professions{
    padding-top: 7px;
    font-size: 62px;
    color: $main-color;
    line-height: 44px;
    text-shadow: 0px 0px 9px rgb(0, 0, 0);
    display: inline-block;
    &__item{
        &:last-child{
            margin-left: 34.5px;
        }
    }
}


.contacts__text {
    position: relative;
    z-index: 1;
    display: flex;
    // flex-direction: column;
}

.contacts__wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.contacts-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.contacts-img img {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
