
.ramgreeset{
    text-transform: uppercase;
    font-size: 147px;
    color: $accent;
    line-height: 90px;
    writing-mode: vertical-rl;
    margin-left: 15px;

}
.designer, .developer{
    padding-top: 7px;
    font-size: 62px;
    color: $main-color;
    line-height: 45px;
    letter-spacing: -2.3px;
}
.designer{
    
}