
.logo{
    text-transform: uppercase;
    font-size: 147px;
    color: $accent;
    line-height: 90px;
    writing-mode: vertical-rl;
    margin-left: 15px;

}
.professions{
    padding-top: 7px;
    font-size: 62px;
    color: $main-color;
    line-height: 40px;
    // letter-spacing: -2.3;
    display: inline-block;
    &__item{
        &:last-child{
            margin-left: 34.5px;
        }
    }
}
.designer{
    
}

.contacts__text {
    position: relative;
    z-index: 20;
    display: flex;
}

.contacts__wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.contacts-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.contacts-img img {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}