
.logo{
    text-transform: uppercase;
    font-size: 140px;
    color: $accent;
    line-height: 90px;
    writing-mode: vertical-rl;
    margin-left: 15px;
    text-shadow: 3px 5px 9px rgb(0, 0, 0);
    z-index: 1;
}
.name{
    text-transform: capitalize;
    font-size: 62px;
    width: 100px;
    color: $main-color;
    mix-blend-mode: overlay;
    line-height: 44px;
    text-shadow: 0px 0px 9px rgb(0, 0, 0);
    z-index: 1;
    position: absolute;
    left: 110px;
    top: 1px;
    &__item{
        &:last-child{
            margin-left: 34.5px;
        }
    }
}


.cover__text {
    position: relative;
    display: flex;
    // flex-direction: column;
}

.cover__wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}
