



.cover{
    height: 100%;
    width: 100%;

    &__text{
        position: absolute;
        z-index: 1;
        display: flex;
    }

    &__wrapper{
        position: absolute;
        height: 100%;
        width: 100%; 
        top: 0;
        left: 0;
    }
}

