.header {
}

.profile {
    padding: 10px 0;
    padding-left: 20px;
    font-size: 50px;
    font-weight: 600;
    text-transform: uppercase;
}

.profile__name {
}
.profile__profession{
    padding-left: 30px;
}

.social {
    height: 60px;
    border-top: 3px solid $social-border;
    // border-bottom: 3px solid $social-border;
    display: flex;
    align-items: center;
    padding-left: 50px;

    svg {
        margin: 0 6px;
        width: 40px;
        transition: 0.3s all;
        &:hover {
            transform: scale(1.1);
        }
    }
    .whatsapp{
        width: 47px;
    }
    .instagram{
        width: 38px;
    }
}