.header {
    &__inner {
        display: flex;
        padding-top: 10px;

    }

    .profile {
        font-size: 20px;
        text-align: center;
        font-weight: 600;
        padding-left: 20px;

        &__name{
            margin-bottom: 10px;
        }

        &__photo {
            height: 270px;
            width: 270px;
            object-fit: cover;
            border: 2px solid #000;
            margin:0 20px 4px 0;
            border-radius: 100%;
        }
    }


    .skills {
        color: rgb(0, 0, 0);
        padding-top: 10px;

        .skill {
            padding: 10px 20px 10px 20px;

            &__title{
                margin-bottom: 7px;
            }
            &__list {
                padding-left: 10px;
            }
            &__item{
                margin-bottom: 7px;
            }
        }

        &__inner {
            display: flex;
            flex-wrap: wrap;

        }
    }
    .social {
        height: 60px;
        border-top: 3px solid $social-border;
        border-bottom: 3px solid $social-border;
        display: flex;
        align-items: center;
        font-size: 35px;
        padding-left: 55px;
    
    
        .fab {
            width: 50px;
            height: 50px;
            margin: 0 2px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            transition: all .2s linear;
        }
    
        .fa-vk {
    
            &:hover {
                color: #fff;
                background-color: rgb(81, 129, 184);
            }
        }
    
        .fa-telegram-plane {
            &:hover {
                color: #fff;
                background-color: rgb(48, 163, 230);
            }
        }
    
        .fa-instagram {
            &:hover {
                color: #fff;
                background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
            }
        }
    
        .fa-whatsapp {
            &:hover {
                color: #fff;
                background-color: rgb(42, 196, 77);
            }
        }
    }
}

