.main {
    margin: 0 120px;
    height: 100%;
}

.header{
    text-transform: capitalize;
    font-size: 52px;
    color: $main-color;
    line-height: 64px;
    text-shadow: 0px 0px 9px rgb(0, 0, 0);
    &__item{
        &:last-child{
            margin-left: 34.5px;
        }
    }
    &__logo{
        display: inline-block;
    }
}

.project {
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    
    &__card-link{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 350px;
        height: 550px;
        border-radius: 8px;
        transition: all .3s;
        box-shadow: 0px 0px 23px 1px rgb(0, 0, 0);
        margin: 10px;

        &:hover{
            box-shadow: 0px 0px 3px 1px rgb(0, 0, 0);
        }
    }

    ._1{
        background: url('../img/card/bratyja.webp')top center / cover no-repeat;
    }
    ._2{
    background: url('../img/card/pulse.webp') top / cover no-repeat;
    
    }
    ._3{
        background: url('../img/card/drive.webp')top center / cover no-repeat;
        
    }
    ._4{
        background: url('../img/card/триколор.webp')top center / cover no-repeat;
    }
}




