.main {
    margin: 0 120px;
    height: 100%;
   
    .header{
        text-transform: capitalize;
        font-size: 52px;
        color: $main-color;
        line-height: 64px;
        text-shadow: 0px 0px 9px rgb(0, 0, 0);
        &__item{
            &:last-child{
                margin-left: 34.5px;
            }
        }
    }
    
}

._1{
    background: url('../img/card/bratyja.webp')top center / cover no-repeat;
}
._2{
background: url('../img/card/pulse.webp') top / cover no-repeat;

}
._3{
    background: url('../img/card/drive.webp')top center / cover no-repeat;
    
}
._4{
    background: url('../img/card/триколор.webp')top center / cover no-repeat;
}

