.portfolio {
    height: 100vh;
    background: #000000a8;
    box-shadow: 0px 0px 200px 20px #000000;
    padding-top: 120px;

    &__wrapper {
        width: 100%;
        height: 800px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    
    &__card {
        width: 250px;
        height: 400px;
        border-radius: 5px;
        overflow: hidden;
        margin: 0 20px 50px 20px;
        transition: box-shadow .3s;
        &:hover {
            box-shadow: 0px 0px 50px 0px rgba(255, 255, 255, 0.603);
        }
    }
    
    &__img {
        width: 100%;
    }
    
 
    &__items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin:0 2%;
    }
}

