.portfolio {
    height: 100vh;
    background: #000000a8;
    box-shadow: 0px 0px 200px 20px #000000;
    padding-top: 120px;

    &__wrapper {
        position: relative;
        height: 800px;
        display: flex;
        justify-content: space-between;
    }
    
    &__card {
        width: 150px;
        height: 230px;
        border-radius: 5px;
        overflow: hidden;
        margin: 0 5px 20px 5px;
        transition: box-shadow .3s;
        &:hover {
            box-shadow: 0px 0px 50px 0px rgba(255, 255, 255, 0.603);
        }
    }
    
    &__img {
        width: 100%;
    }
    
    &__preview {
        overflow: hidden;
        width: 500px;
        border: 2px solid rgba(34, 34, 34, 0.979);
        margin-left: 7%;

    }
    
    &__items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 50%;
        margin-right: 2%;
    }
}

