.project {
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    
    &__card-link{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 350px;
        height: 550px;
        border-radius: 8px;
        transition: all .3s;
        box-shadow: 0px 0px 23px 1px rgb(0, 0, 0);
        margin: 10px;

        &:hover{
            box-shadow: 0px 0px 3px 1px rgb(0, 0, 0);

            // transform: scale(1.1);
        }
    }

}

