.social {
    position: fixed;
    bottom: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.507);
}
.social__list {
    display: flex;
    text-shadow: 6px 6px 9px rgb(0, 0, 0);

}
.social__item {
    position: relative;
    margin-left: 10px;
    text-transform: uppercase;
    font-size: 60px;
    color: rgb(255, 255, 255);
    margin-right: 40px;
}
.social__item::before {
    content: "";
    position: absolute;
    right: -28px;
    bottom: 13px;
    width: 2px;
    background-color: #fff;
    height: 40px;
}

.social__item:last-child::before{
    content: none;
}

.social__link{
    transition: color .5s;
    &:hover{
        color: rgb(0, 0, 0);
    }
}