
// .swiper-container {
// }
// .swiper-wrapper {
// }
// .swiper-slide {
// }

// Пагинация
.swiper-pagination {
    bottom: 0;
}

// Булеты
.swiper-pagination-bullet{
    padding-top: 2px;
    width: 20px;
    height: 20px;
    font-size: 14px;
    color: rgb(252, 245, 245);

}

// Кнопки управления слайдером
.swiper-button-prev::after, 
.swiper-button-next::after{
    color: rgb(192, 42, 42);
}

// Скролл
.swiper-scrollbar {
    // cursor: pointer;
    background-color: rgb(23, 211, 117);
}

// Колесо прокрутки скролла
.swiper-scrollbar-drag {
    cursor: pointer;
    background-color: rgb(211, 67, 23);
}


.swiper-pagination-fraction{
    font-size: 20px;
    color: rgb(12, 11, 11);

}

// Прогрессбар
// .swiper-pagination-progressbar-fill{
// }
// :root{
//     --swiper-theme-color: #c92525;
// }

// .swiper-slide-pre{
//     // display: none;
// }
