.work{
    margin-top: 15px;
    &__inner{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    
    &_1{
        margin: 15px;
    }
    
    &__image{
        display: block;
        background-color: rgba(17, 1, 1, 0.486);
        width: 500px;
        height: 300px;
        object-fit: cover;
        &:hover{
            transform: scale(1.02);
        }
    }
    .portfolio{
        text-transform: capitalize;
        font-variant: small-caps;
        padding:10px 0 10px 85px;
        text-decoration: underline;
        font-size: 40px;
    }

}